.book_2_2_1 {
    position: absolute;
    left: -123px;
    top: 117px;
   
}







.skullbooks {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: flex-end;

    .skull {
        position: absolute;
        top: 1256px;
        left: 360px;
        cursor: pointer;
       
    }
}



