.book_2_2_1 {
  position: absolute;
  left: -123px;
  top: 117px;
}

.skullbooks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 266px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.skullbooks .skull {
  position: absolute;
  top: 1256px;
  left: 360px;
}

@media screen and (max-width: 320px) {
  .bookshelf_container {
    width: 100%;
  }
  .bookshelf_container .name {
    max-width: 80%;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
  }
  .bookshelf_container .book_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    height: 550px;
    width: 100%;
  }
  .bookshelf_container .book_row_part {
    width: 100%;
    border-bottom: 20px solid #fff;
    padding-bottom: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 480px;
  }
  .bookshelf_container .book_row_part .img {
    width: 16%;
  }
  .bookshelf_container .book_row_part .ferenc {
    width: 24%;
  }
  .bookshelf_container .book_row_part .salvador {
    width: 16%;
  }
  .bookshelf_container .book_row_part .book_2_1_1 {
    width: 22%;
  }
  .bookshelf_container .book_row_part .easel {
    width: 75%;
  }
  .bookshelf_container .book_row_part .row_2_2 {
    padding-left: 100px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .bookshelf_container .book_row_part .book_2_2_1 {
    top: 82px;
    left: 12px;
    width: 32%;
  }
  .bookshelf_container .book_row_part .book_2_2_2 {
    width: 46%;
  }
  .bookshelf_container .book_row_part .julesverne {
    width: 16%;
  }
  .bookshelf_container .book_row_part .book_3_3_1 {
    width: 37%;
  }
  .bookshelf_container .book_row_part .book_3_3_4 {
    width: 21.5%;
  }
  .bookshelf_container .book_row_part .book_4_1_1 {
    width: 23.5%;
  }
  .bookshelf_container .book_row_part .edison {
    width: 17%;
  }
  .bookshelf_container .book_row_part .book_4_1_3 {
    width: 36%;
    position: absolute;
    top: 2540x;
    left: 0px;
  }
  .bookshelf_container .book_row_part .mary {
    width: 36%;
    position: absolute;
    top: 1858px;
    left: 69px;
  }
  .bookshelf_container .book_row_part .book_5_1_1 {
    width: 21.5%;
  }
  .bookshelf_container .book_row_part .book_5_1_4 {
    width: 50%;
  }
  .bookshelf_container .book_row_part .book_5_3_1 {
    width: 16%;
  }
  .bookshelf_container .book_row_part .book_5_3_2 {
    width: 16%;
  }
  .bookshelf_container .book_row_part .book_5_3_3 {
    width: 21.5%;
  }
  .bookshelf_container .book_row .row_1_2 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .bookshelf_container .book_row .row_1_2 .candlessprite {
    background-image: url("images/candlesspritemobile.png");
    overflow: hidden;
    width: 112px;
    height: 89px;
    background-size: 232px;
  }
  .bookshelf_container .book_row .row_1_2 .candlesbooks {
    height: 107px;
    width: 70%;
  }
  .bookshelf_container .book_row .row_2_1 .clock {
    width: 100%;
    height: 100px;
    font-size: 3rem;
    top: 30px;
  }
  .bookshelf_container .book_row .row_3_1 {
    margin-top: 3rem;
  }
  .bookshelf_container .book_row .row_3_1 .skull_books {
    width: 90%;
  }
  .bookshelf_container .book_row .row_3_1 .skull {
    top: 1207px;
    left: 180px;
  }
  .bookshelf_container .book_row .row_1_1 .book_1_1_5 {
    width: 30%;
  }
  .bookshelf_container .music {
    width: 200px;
    height: 240px;
    top: 100px;
    opacity: 1;
    z-index: 1210;
  }
  .bookshelf_container .music .note1 {
    width: 34px;
    height: 70px;
    left: 50%;
    top: 36%;
  }
  .bookshelf_container .music .note1 img {
    width: 70px;
  }
  .bookshelf_container .music .note2 {
    width: 27px;
    height: 89px;
    left: 152px;
    top: 18%;
  }
  .bookshelf_container .music .note2 img {
    width: 56px;
  }
  .bookshelf_container .music .note3 {
    width: 35px;
    height: 70px;
    top: 40%;
    left: 77%;
  }
  .bookshelf_container .music .note3 img {
    width: 70px;
  }
  .bookshelf_container .row_4_3 {
    height: 800px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .bookshelf_container .row_4_3 img {
    width: 80%;
  }
  .bookshelf_container .row_4_3 .book_4_3_2 {
    width: 17%;
  }
  .bookshelf_container .row_4_3 .books {
    height: 120px;
    margin-right: 1%;
  }
  .bookshelf_container .row_4 {
    height: 740px;
  }
  .bookshelf_container .row_4_1 {
    margin-top: 1rem;
    height: 1800px;
  }
  .bookshelf_container .row_5_1 {
    height: 900px;
  }
  .bookshelf_container .row_5_3 .radiy {
    top: 1000px;
    position: absolute;
    left: 1px;
  }
  .bookshelf_container .row_2_1 {
    height: 700px;
    margin-top: 2rem;
  }
  .bookshelf_container .row_2_2 {
    margin-top: 3rem;
  }
  .bookshelf_container .row_3_3 {
    margin-top: 3rem;
  }
  .bookshelf_container .skullbooks {
    top: 1240px;
    height: 135px;
  }
  .bookshelf_container .skullbooks .skull {
    top: 1750px;
    left: 174px;
    width: 35%;
  }
  .bookshelf_container .lightbulbdiv {
    position: absolute;
    height: 200px;
    top: 2350px;
  }
  .bookshelf_container .lightbulb {
    height: 40%;
    left: 100px;
  }
  .bookshelf_container .flasksprite {
    width: 79px;
    height: 116px;
    background-size: 160px;
    margin-right: 4%;
  }
}
/*# sourceMappingURL=bookslayout.css.map */