.book_2_2_1 {
    position: absolute;
    left: -123px;
    top: 117px;
   
}







.skullbooks {
    display: flex;
    flex-direction: column;
    height: 266px;

    .skull {
        position: absolute;
        top: 1256px;
        left: 360px;
    }
}



@media screen and (max-width: 375px) {
    .bookshelf_container {
        width: 100%;
    }


    .book_row {
        flex-direction: column;
        border: none;
        height: 500px;
        width: 100%;
        

        &_part {
            width: 100%;
            border-bottom: 20px solid #fff;
            padding-bottom: 0;
            
           
            justify-content: flex-end;
            height: 480px;

            

           .img {
               width: 16%;
           }
            .ferenc {
               width: 24%;
            }

            
            .salvador {
                width: 16%;
            }
           
            .clock {
              width: 60%;
            }

            .book_1_1_5 {
                width: 32%;
            }
            .candlesbooks {
                width: 65%;
            }

            .book_2_1_1 {
                width: 22%;
            }
            .easel {
                width: 75%;
            }

            .row_2_2 {
                padding-left: 100px;
                justify-content: flex-end;
            }
            
            .book_2_2_1 {
                top: 82px;
                left: 12px;
                width: 32%;
            }
            .book_2_2_2 {
                width: 32%;
            }
            .skull_books {
                width: 90%;
            }

            .julesverne {
               width: 16%;
            }

            .book_3_3_1 {
                width: 37%;
            }

            .book_3_3_4 {
                width: 21.5%;
            }

            .book_4_1_1 {
                width: 23.5%;
                position: absolute;
                top: 1964px;
                left: 212px;
            }

           
            .edison {
                width: 17%;
                position: absolute;
                top: 1966px;
                left: 300px;
            }

            .book_4_1_3 {
                width: 36%;
                position: absolute;
                top: 2540x;
                left: 0px;
            }

            .mary {
                width: 36%;
                position: absolute;
                top: 2043px;
                left: 73.1px;
                
            }

            .books {
                width: 64%;
                height: 120px;
                top: 140px;
               left: 6px;
            }

            .book_5_1_1 {
                width: 21.5%;
            }

            .book_5_1_4 {
                width: 50%;
            }

            .book_5_3_1 {
                width: 16%;
            }
            .book_5_3_2 {
                width: 16%;
            }
            .book_5_3_3 {
                width: 21.5%;
            }

            
        }
    }

    .music {
        width: 60%;
        top: 100px;
        opacity: 1;

        .note1 {
            width: 80px;
            height: 80px;

            img {
               width: 80%;
            }
           
        }

        .note2 {
            width: 67px;
            height: 89px;

            img {
                width: 80%;
            }
        }

        .note3 {
            width:  80px;
            height: 60px;
            left: 150px;

            img {
                width: 80%;
            }
        }

    }

    .row_4 {
        height: 660px;
    }
    .row_4_1 {
        margin-top: 1rem;
        height: 1800px;      
    }
    .row_4_3 {
        margin-top: 1rem;
          height: 1600px;      
    }

    .row_5_1 {
        height: 900px;
    }

    .row_2_1 {
        height: 700px;
    }
    
    .row_1_2 {
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 2rem;
    }

    .row_2_2 {
        margin-top: 3rem;
    }
   
    .row_3_1 {
        margin-top: 3rem;
    }

    .row_3_3 {
        margin-top: 3rem;
    }

    .name {
        width: 100%;
        padding: 2rem 3rem;
        margin-top: 11rem;
        
    }

    .skullbooks {
        top: 1240px;
        height: 135px;


        .skull {
            top: 1750px;
            left: 174px;
            width: 35%;
        }      
    }
  

    .lightbulbdiv {
        position: absolute;
        height: 200px;
        top: 2350px;
    }
    .lightbulb {
        height: 40%;
        left: 100px;
    }

    //Mary
    

    

   
  

    .candlessprite {
        background-image: url("images/candlesspritemobile.png");
        overflow: hidden;
        width: 121px;
        height: 100px;
    }

    .flasksprite {
        background-size: -40%;
    }
}