@media screen and (max-width: 1024px) {
   
   
    .book_row {
        margin-top: 1rem;
       margin-bottom: 1rem;

        .row_1_2 {

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            height: 200px;
            
        }
       
    }

  
.row_2_2 {
    align-items: flex-end;
   
}
    .img {
        width: 16%;
    }
     .ferenc {
        width: 24%;
     }

    
     .salvador {
         width: 16%;
     }
    
     .clock {
       width: 60%;
     }

     .book_1_1_5 {
         width: 32%;
     }
     .candlesbooks {
         width: 75%;
     }

     .book_2_1_1 {
         width: 22%;
     }
     .easel {
         width: 75%;
     }

     
     .book_2_2_1 {
         top: 226px;
         left: -38px;
         width: 37%;
     }
     .book_2_2_2 {
         width: 37%;
     }

     .book_2_2_3 {
         width: 18.3%;
     }
     .book_2_2_4 {
        width: 17.8%;
     }
     .book_2_2_5 {
         width: 17.8%;
     }
     .skull_books {
         width: 90%;

        }
        .skull {
            top: 1200px;
        }

     .julesverne {
        width: 16%;
     }

     .book_3_3_1 {
         width: 37%;
     }

     .book_3_3_4 {
         width: 21.5%;
     }

     .book_4_1_1 {
         width: 11%;
         position: absolute;
         top: 1606px;
         left: 0;
     }

    
     .edison {
         width: 8%;
         position: absolute;
         top: 1608px;
         left: 113px;
     }

     .book_4_1_3 {
         width: 16%;
         position: absolute;
         top: 2540x;
         left: 196px;
     }

     .mary {
         width: 16%;
         position: absolute;
         top: 2084px;
         left: 73.1px;
         
     }

     .books {
         width: 160%;
         height: 120px;
         top: 180px;
         left: -160px;
     }

     .book_5_1_1 {
         width: 21.5%;
     }

     .book_5_1_4 {
         width: 50%;
     }

     .book_5_3_1 {
         width: 16%;
     }
     .book_5_3_2 {
         width: 16%;
     }
     .book_5_3_3 {
         width: 21.5%;
     }

     .candlessprite {
         width: 20%;
         height: 20%;
         background-size: 300px;
     }
 }

