@media screen and (max-width: 1024px) {
  .book_row {
    margin-top: 1rem;
    margin-bottom: 1rem;
    z-index: 1;
  }
  .row_1_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 481px;
  }
  .row_2_2 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row_3_3 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row_4_1 {
    height: 480px;
  }
  .row_4_3 {
    width: 500px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 480px;
  }
  .row_4_3 .books {
    width: 60%;
  }
  .row_4_3 img {
    top: 270px;
  }
  .img {
    width: 16%;
  }
  .ferenc {
    width: 24%;
  }
  .salvador {
    width: 16%;
  }
  .clock {
    width: 60%;
  }
  .book_1_1_5 {
    width: 32%;
  }
  .candlesbooks {
    width: 75%;
  }
  .book_2_1_1 {
    width: 22%;
  }
  .easel {
    width: 75%;
  }
  .book_2_2_1 {
    top: 200px;
    left: -52px;
    width: 37%;
  }
  .book_2_2_2 {
    width: 37%;
  }
  .book_2_2_3 {
    width: 18.3%;
  }
  .book_2_2_4 {
    width: 17.8%;
  }
  .book_2_2_5 {
    width: 17.8%;
  }
  .skullbooks .skull_books {
    width: 90%;
    top: 1000px;
  }
  .skullbooks .skull {
    width: 18%;
    top: 1124px;
    left: 237px;
  }
  .julesverne {
    width: 16%;
  }
  .book_3_3_1 {
    width: 37%;
  }
  .book_3_3_4 {
    width: 21.5%;
  }
  .book_4_1_1 {
    width: 29%;
  }
  .edison {
    width: 21.2%;
  }
  .book_4_1_3 {
    width: 16%;
    position: absolute;
    top: 2540x;
    left: 196px;
  }
  .mary {
    width: 16%;
    position: absolute;
    top: 1720px;
    left: 283px;
  }
  .book_4_3_1 {
    width: 16%;
  }
  .book_4_3_2 {
    width: 16.2%;
  }
  .row_5_1 img {
    width: 12.7%;
  }
  .row_5_1 .book_5_1_1 {
    width: 17%;
  }
  .row_5_1 .book_5_1_4 {
    width: 38.5%;
  }
  .row_5_3 .book_5_3_1 {
    width: 24.5%;
  }
  .row_5_3 .book_5_3_2 {
    width: 24.5%;
  }
  .row_5_3 .book_5_3_3 {
    width: 33%;
  }
  .candlessprite {
    width: 184px;
    height: 170px;
    background-size: 370px;
  }
  .candlesbooks {
    height: 142px;
  }
  .flasksprite {
    width: 40%;
    height: 45%;
    background-size: 260px;
  }
  .name {
    margin: 2rem 0 2rem 1rem;
    font-size: 1.4rem;
    width: 100%;
    padding: 1rem 0 1rem 2rem;
    max-width: 100%;
  }
  .radiy {
    position: absolute;
    top: 1960px;
    left: 300px;
  }
  .lightbulb {
    top: 1484px;
    left: 240px;
    z-index: 300;
  }
}

@media screen and (max-width: 1680px) {
  .row_4_3 {
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row_4_3 .books {
    margin-right: 14%;
  }
}
/*# sourceMappingURL=display1024.css.map */