* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background: #1d1d1d;
  overflow-x: hidden;
}

.bookshelf_container {
  width: 100%;
}

.book_row {
  width: 100%;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 20px solid #fff;
  margin-bottom: 6rem;
  z-index: 1;
}

.book_row_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 480px;
  padding-bottom: 20px;
}

.row_1_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.easeldiv {
  margin-left: 10px;
  position: relative;
}

.easeldiv .clock {
  position: absolute;
  top: -10px;
  left: -102px;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.easeldiv .mondrianart {
  position: absolute;
  top: 40px;
  left: -40px;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.row_2_2 {
  margin-right: 0;
  position: relative;
}

.row_3_2 {
  margin-top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row_3_3 {
  margin-right: 0;
}

.row_4_1 {
  width: 40%;
  margin-right: 0;
}

.row_4_2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: self-start;
      -ms-grid-row-align: self-start;
      align-self: self-start;
}

.name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 3rem;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Animations */
/* FERENC ANIMATION */
.brightness {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.ferenc {
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.music {
  opacity: 0;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 20%;
  left: 30%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* Note1 */
.note1 {
  position: absolute;
  overflow: hidden;
  width: 79px;
  height: 79px;
  cursor: pointer;
  top: 60%;
  left: 12%;
}

.note1:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.note1img {
  -webkit-animation: note1 0.5s steps(2) infinite;
          animation: note1 0.5s steps(2) infinite;
}

@-webkit-keyframes note1 {
  from {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes note1 {
  from {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

/* Note2 */
.note2 {
  position: absolute;
  overflow: hidden;
  width: 57px;
  height: 79px;
  cursor: pointer;
  top: 150px;
  left: 180px;
}

.note2:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.note2img {
  -webkit-animation: note2 0.5s steps(2) infinite;
          animation: note2 0.5s steps(2) infinite;
}

@-webkit-keyframes note2 {
  from {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes note2 {
  from {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

/* Note3 */
.note3 {
  position: absolute;
  overflow: hidden;
  width: 79px;
  height: 79px;
  cursor: pointer;
  top: 240px;
  left: 200px;
}

.note3img {
  -webkit-animation: note2 0.5s steps(2) infinite;
          animation: note2 0.5s steps(2) infinite;
}

@-webkit-keyframes note3 {
  from {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes note3 {
  from {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

.candlessprite {
  overflow: hidden;
  width: 243px;
  height: 240px;
  cursor: pointer;
  background-image: url("images/candlessprite.png");
  -webkit-transition: background-image 0.6s;
  transition: background-image 0.6s;
}

.candles {
  background-position: -100% 0;
}

/* Salvador Animation */
.salvador {
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.salvador:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.mondrian {
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

/* Jules Verne Animation */
.row_4_3 {
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row_4_3 .presubmarine {
  position: absolute;
  top: -290px;
  right: 290px;
  opacity: 0;
  z-index: 200;
  -webkit-animation: submarine 1s infinite ease;
          animation: submarine 1s infinite ease;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

@-webkit-keyframes submarine {
  from {
    -webkit-transform: rotateZ(35deg);
            transform: rotateZ(35deg);
  }
  to {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
}

@keyframes submarine {
  from {
    -webkit-transform: rotateZ(35deg);
            transform: rotateZ(35deg);
  }
  to {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
}

.submarine {
  position: absolute;
  top: -340px;
  right: -100px;
  z-index: 600;
}

.julesverne {
  overflow: hidden;
  cursor: pointer;
  z-index: 500;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.julesverne:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

/* Edison Animation */
.edison {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 20;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.edison:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.row_4_1 {
  z-index: 1200;
}

.lightbulbdiv {
  width: 120px;
  height: 528px;
}

.lightbulb {
  opacity: 0;
  position: absolute;
  left: 400px;
  top: 1700px;
  -webkit-animation: lightbulb 2s infinite linear;
          animation: lightbulb 2s infinite linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@-webkit-keyframes lightbulb {
  from {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
  to {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
}

@keyframes lightbulb {
  from {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
  to {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
}

.mary {
  position: absolute;
  top: 1930px;
  left: 389px;
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.mary:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.cursormary {
  cursor: url("https://github.com/Evgenia4444/BlaBlaLib/blob/main/images/cursormary.svg");
}

.flasksprite {
  overflow: hidden;
  width: 176px;
  height: 271px;
  background-image: url("images/flasksprite2.png");
  -webkit-transition: background-image 0.6s;
  transition: background-image 0.6s;
}

.flaskspriteimg {
  background-position: -97% 0;
}

/* #clock path:nth-child(1) {
    stroke-dasharray: ;
}


#clock path:nth-child(2) {

}


#clock path:nth-child(3) {

}


#clock path:nth-child(4) {

}


#clock path:nth-child(5) {

}


#clock path:nth-child(6) {

}


#clock path:nth-child(7) {

}


#clock path:nth-child(8) {

} */
.radiy {
  position: absolute;
  background: white;
  color: #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  padding: 2rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 580px;
  top: 2450px;
  opacity: 0;
  z-index: 1000;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.radiy img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  padding: 0.5rem;
}

.radiy_text {
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  margin-top: 0.6rem;
}

.radiy p {
  font-size: 120px;
  font-weight: 600;
  margin-top: 0.5rem;
}
/*# sourceMappingURL=index.css.map */