@media screen and (max-width: 1024px) {
  .bookshelf_container .row_4_3 {
    width: 500px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 480px;
  }
  .bookshelf_container .row_4_3 .books {
    margin-right: 10%;
    width: 60%;
  }
  .bookshelf_container .row_4_3 .presubmarine {
    width: 80%;
  }
  .bookshelf_container .row_4_3 img {
    top: 270px;
  }
  .bookshelf_container .book_row {
    margin-top: 1rem;
    margin-bottom: 1rem;
    z-index: 1;
  }
  .bookshelf_container .row_1_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 481px;
  }
  .bookshelf_container .row_2_2 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .bookshelf_container .row_2_2 .mondrian {
    width: 21%;
  }
  .bookshelf_container .row_3_3 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .bookshelf_container .row_4_1 {
    height: 480px;
  }
  .bookshelf_container .img {
    width: 16%;
  }
  .bookshelf_container .ferenc {
    width: 24%;
  }
  .bookshelf_container .salvador {
    width: 16%;
  }
  .bookshelf_container .clock {
    width: 60%;
  }
  .bookshelf_container .book_1_1_5 {
    width: 32%;
  }
  .bookshelf_container .candlesbooks {
    width: 75%;
  }
  .bookshelf_container .book_2_1_1 {
    width: 20.5%;
  }
  .bookshelf_container .easeldiv .easel {
    width: 50%;
  }
  .bookshelf_container .easeldiv .clock {
    width: 120%;
    top: 20px;
    right: 17px;
  }
  .bookshelf_container .easeldiv .mondrianart {
    width: 62%;
    position: absolute;
    top: 50px;
    left: 9px;
  }
  .bookshelf_container .book_2_2_1 {
    top: 200px;
    left: -52px;
    width: 37%;
  }
  .bookshelf_container .book_2_2_2 {
    width: 37%;
  }
  .bookshelf_container .book_2_2_3 {
    width: 18.3%;
  }
  .bookshelf_container .book_2_2_4 {
    width: 17.8%;
  }
  .bookshelf_container .book_2_2_5 {
    width: 17.8%;
  }
  .bookshelf_container .skullbooks .skull_books {
    width: 90%;
    top: 1000px;
  }
  .bookshelf_container .skullbooks .skull {
    width: 18%;
    top: 1124px;
    left: 237px;
  }
  .bookshelf_container .julesverne {
    width: 16%;
  }
  .bookshelf_container .book_3_3_1 {
    width: 37%;
  }
  .bookshelf_container .book_3_3_4 {
    width: 21.5%;
  }
  .bookshelf_container .book_4_1_1 {
    width: 29%;
  }
  .bookshelf_container .edison {
    width: 21.2%;
  }
  .bookshelf_container .book_4_1_3 {
    width: 16%;
    position: absolute;
    top: 2540x;
    left: 196px;
  }
  .bookshelf_container .mary {
    width: 16%;
    position: absolute;
    top: 1720px;
    left: 283px;
  }
  .bookshelf_container .book_4_3_1 {
    width: 16%;
  }
  .bookshelf_container .book_4_3_2 {
    width: 16.2%;
  }
  .bookshelf_container .row_5_1 img {
    width: 15.2%;
  }
  .bookshelf_container .row_5_1 .book_5_1_1 {
    width: 20.5%;
  }
  .bookshelf_container .row_5_1 .book_5_1_4 {
    width: 42.8%;
  }
  .bookshelf_container .row_5_3 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .bookshelf_container .row_5_3 .book_5_3_1 {
    width: 20%;
  }
  .bookshelf_container .row_5_3 .book_5_3_2 {
    width: 21.5%;
  }
  .bookshelf_container .row_5_3 .book_5_3_3 {
    width: 29%;
  }
  .bookshelf_container .candlessprite {
    width: 184px;
    height: 170px;
    background-size: 370px;
  }
  .bookshelf_container .candlesbooks {
    height: 142px;
  }
  .bookshelf_container .flasksprite {
    width: 153px;
    height: 41%;
    background-size: 260px;
  }
  .bookshelf_container .name {
    margin: 2rem 0 2rem 1rem;
    font-size: 1.4rem;
    width: 100%;
    padding: 1rem 0 1rem 2rem;
    max-width: 80%;
  }
  .bookshelf_container .radiy {
    position: absolute;
    top: 2060px;
    left: 300px;
    width: 300px;
  }
  .bookshelf_container .radiy img {
    width: 13%;
  }
  .bookshelf_container .radiy_text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bookshelf_container .radiy_text h1 {
    font-size: 1.4rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .bookshelf_container .radiy_text p {
    font-size: 3.5rem;
  }
  .bookshelf_container .lightbulb {
    top: 1484px;
    left: 240px;
    z-index: 300;
    width: 10%;
  }
}
/*# sourceMappingURL=display1024.css.map */