@media screen and (max-width: 768px) {
  .bookshelf_container .radiy {
    top: 1490px;
  }
  .bookshelf_container .name {
    max-width: 80%;
  }
  .bookshelf_container .flasksprite {
    width: 76px;
    height: 120px;
    background-size: 164px;
  }
  .bookshelf_container .book_row {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 340px;
  }
  .bookshelf_container .book_row .row_2_2 .book_2_2_2 {
    width: 56%;
  }
  .bookshelf_container .book_row .row_2_2 .book_2_2_3 {
    width: 19%;
  }
  .bookshelf_container .book_row .row_2_2 .book_2_2_4 {
    width: 20.5%;
  }
  .bookshelf_container .book_row .row_2_2 .book_2_2_5 {
    width: 20.5%;
  }
  .bookshelf_container .book_row_part {
    height: 320px;
    padding-bottom: 0;
  }
  .bookshelf_container .book_row_part .name {
    font-size: 1rem;
  }
  .bookshelf_container .book_row .row_2_1 img {
    width: 13%;
  }
  .bookshelf_container .book_row .row_2_1 .book_2_1_4 {
    width: 13%;
  }
  .bookshelf_container .book_row .row_2_1 .salvador {
    width: 14.4%;
  }
  .bookshelf_container .book_row .row_2_1 .book_2_1_1 {
    width: 20%;
  }
  .bookshelf_container .book_row .row_2_1 .easel {
    width: 40%;
  }
  .bookshelf_container .book_row .row_2_1 .clock {
    width: 80%;
    top: -20px;
    left: -57px;
  }
  .bookshelf_container .book_row .row_1_1 {
    height: 320px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .bookshelf_container .book_row .row_1_1 .book_1_1_5 {
    width: 32%;
  }
  .bookshelf_container .book_row .row_1_1 img {
    width: 14.5%;
  }
  .bookshelf_container .book_row .row_1_1 .ferenc {
    width: 21.9%;
  }
  .bookshelf_container .book_row .row_1_1 .music {
    width: 300px;
    top: 1%;
  }
  .bookshelf_container .row_1_2 {
    height: 320px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .bookshelf_container .row_1_2 .candlessprite {
    justify-self: flex-end;
    height: 42%;
    width: 50%;
    background-size: 300px;
  }
  .bookshelf_container .row_1_2 .candlesbooks {
    height: 119px;
    width: 86.1%;
  }
  .bookshelf_container .row_4_1 {
    top: 1200px;
    height: 320px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .bookshelf_container .row_4_1 .lightbulbdiv {
    width: 50%;
    top: 200px;
  }
  .bookshelf_container .row_4_1 .lightbulbdiv .lightbulb {
    width: 10%;
    top: 1000px;
  }
  .bookshelf_container .row_4_1 .book_4_1_3 {
    width: 15%;
    left: 153px;
  }
  .bookshelf_container .row_4_1 .mary {
    top: 1220px;
    left: 210px;
  }
  .bookshelf_container .row_4_3 {
    height: 320px;
  }
  .bookshelf_container .row_4_3 .books {
    margin-right: 1%;
  }
  .bookshelf_container .row_4_3 .presubmarine {
    width: 57.8%;
  }
  .bookshelf_container .row_5_3 .flasksprite {
    width: 72px;
    height: 120px;
    background-size: 160px;
  }
  .row_3_1 img {
    width: 15%;
  }
  .row_3_1 .skullbooks .skull {
    top: 784px;
    left: 215px;
  }
  .row_3_1 .skullbooks .skull_books {
    margin-left: 10%;
  }
}
/*# sourceMappingURL=display768.css.map */