@media screen and (max-width: 768px) {
   

    .book_row {
        margin-top: 1rem;
       margin-bottom: 1rem;
       height: 340px;

        &_part {
            height: 320px;
            padding-bottom: 0;

            
        .name {
            font-size: 1rem;
        }
        }
       
    .row_1_1 {
        height: 320px;
        justify-content: flex-start;

        .book_1_1_5 {
            width: 32%;
        }
        img {
            width: 14.5%;
        }

        .ferenc {
            width: 21.9%;
        }
    }

    
    .row_1_2 {
        height: 320px;
        justify-content: flex-end;

        .candlessprite {
            justify-self: flex-end;
            height: 42%;
            width: 50%;
            background-size: 300px;
        }
        .candlesbooks {
            height: 119px;
            width: 86.1%;
        }
    }

   .row_4_1 {
       top: 1200px;
       height: 320px;
    .lightbulbdiv {
         width: 50%;
        .lightbulb {
            width: 20%;
        }
    }
       .book_4_1_3 {
           width: 38%;
       }
   }

   .row_4_3 {
       height: 320px;

       
   }

    .book_2_2_2 {
        width: 46%;
    }
    .book_2_2_3 {
        width: 15.4%;
    }

    .book_2_2_4 {
        width: 15%;
    }

    .book_2_2_5 {
        width: 14.9%;
    }

   
  }
   
  .row_3_1 {
      img {
          width: 15%;
      }

      .skullbooks {

        .skull {
            top: 784px;
            left: 215px;
        }

        .skull_books {
            margin-left: 10%;
        }
    }
  }

  

}
  