
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #1d1d1d;
    overflow-x: hidden;
    
}

.bookshelf_container {
  width: 100%;
  
}

.book_row {
    width: 100%;
    height: 480px;
    display: flex;
    margin-top: 6rem;
    justify-content: space-between;
    border-bottom: 20px solid #fff;
    margin-bottom: 6rem;
   
    
    
    
    &_part {
       display: flex;
       align-items: flex-end;
       height: 480px;
       padding-bottom: 20px;
      
    }
}


.row_1_2 {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: unset;
    
}



.easeldiv {
    margin-left: 10px;
    position: relative;

   .clock {
       position: absolute;
       top: -10px;
       left: -102px;
       opacity: 0;
       transition: 0.5s ease;
   }

   .mondrianart {
    position: absolute;
    top: 66px;
    left: 14px;
    opacity: 0;
    transition: all 0.6s;
}
}
.row_2_2 {
    margin-right: 0;
    position: relative;
    
    
}

.row_3_1 {
    z-index: 4004;
}

.bats {
    position: absolute;
    top: 1200px;
    left: 180px;
    width: 45%;
    height: 300px;
    z-index: 40000;
    opacity: 0;
    transition: all 0.6s;

    .bat1 {
        position: absolute;
        top: 170px;
        left: 74px;
        cursor: pointer;
        transition: all 0.6s;
    }
    .bat2 {
        position: absolute;
        top: 78px;
        left: 60px;
        cursor: pointer;
        transition: all 0.6s;
    }
    .bat3 {
        position: absolute;
        top: 6px;
        left: 140px;
        cursor: pointer;
        transition: all 0.6s;
    }
    .bat4 {
        position: absolute;
        top: 30px;
        left: 280px;
        cursor: pointer;
        transition: all 0.6s;
    }
    .bat5 {
        position: absolute;
        top: 94px;
        left: 362px;
        cursor: pointer;
        transition: all 0.6s;
    }
    .bat6 {
        position: absolute;
        top: 156px;
        left: 464px;
        cursor: pointer;
        transition: all 0.6s;
    }

    .bat7 {
        position: absolute;
        top: 40px;
        left: 474px;
        cursor: pointer;
        transition: all 0.6s;
    }
}
.row_3_2 {
    margin-top: 0;
    flex-direction: column;
    z-index: 1002;
    
}

.row_3_3 {
   margin-right: 0;
}

.row_4 {
    z-index: 2400;

    .row_4_1 {
        width: 40%;
        margin-right: 0;
        
    }
    
    .row_4_2 {
        flex-direction: column;
        align-self: self-start;
    }
}

.name {
    width: 100%;
    display: flex;
    padding: 1rem 3rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    align-items: center;
    

}


/* Animations */
/* FERENC ANIMATION */

.brightness {
    filter: brightness(80%);
}

.brightness100 {
    filter: brightness(100%);
}

.ferenc {
    cursor: pointer;
    transition: all 0.6s;

  
}


.music {
    opacity: 0;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 20%;
    left: 30%;
    transition: all 0.3s;
}



/* Note1 */

.note1 {
    position: absolute;
    overflow: hidden;
    width: 79px;
    height: 79px;
    cursor: pointer;
    top: 60%;
    left: 12%;

    &:hover {
        filter: brightness(90%);
    }

}


.note1img {
    animation: note1 0.5s steps(2) infinite;
}

@keyframes note1 {
    from {
        transform: translate3d(0px, 0, 0)
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
   
}


/* Note2 */

.note2 {
    position: absolute;
    overflow: hidden;
    width: 57px;
    height: 79px;
    cursor: pointer;
    top: 150px;
    left: 180px;

    &:hover {
        filter: brightness(90%);
    }
}


.note2img {
    animation: note2 0.5s steps(2) infinite;
}

@keyframes note2 {
    from {
        transform: translate3d(0px, 0, 0)
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
   
}



/* Note3 */

.note3 {
    position: absolute;
    overflow: hidden;
    width: 79px;
    height: 79px;
    cursor: pointer;
    top: 240px;
    left: 200px;

}


.note3img {
    animation: note2 0.5s steps(2) infinite;
}

@keyframes note3 {
    from {
        transform: translate3d(0px, 0, 0)
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
   
}

.candlessprite {
    overflow: hidden;
    width: 243px;
    height: 240px;
    cursor: pointer;
    background-image: url("../images/candlessprite.png");
    transition: background-image 0.6s;
}


.candles {
    background-position: -100% 0;
}


/* Salvador Animation */

.salvador {
    
    
    cursor: pointer;
    transition: all 0.6s;

    &:hover {
        filter: brightness(80%);
    }
}

.mondrian {
    cursor: pointer;
    transition: all 0.6s;

    &:hover {
        filter: brightness(80%);
    }
}





/* Jules Verne Animation */

.row_4_3 {
    
    position: relative;
    align-items: flex-end;
    
  
    .presubmarine {
        position: absolute;
        top: -290px; 
        right: 340px;
        opacity: 0;
        z-index: 200;
        animation: submarine 1s infinite ease;
        animation-direction: alternate;
        transition: all 0.25s ease;
    }

    @keyframes submarine {
        from {
            transform: rotateZ(10deg);
        }
        to {
            transform: rotateZ(3deg);
        }
    }
    
}

.submarine {
   position: absolute;
   top: -340px; 
   right: -100px;
   z-index: 600;

}

.julesverne {
    overflow: hidden;
  
    cursor: pointer;
    z-index: 500;
    transition: all 0.6s;

    &:hover {
        filter: brightness(80%);
    }
}


/* Edison Animation */
.edison {
    
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 20;
    transition: all 0.6s;

    &:hover {
        filter: brightness(80%);
    }
}

.row_4_1 {
    z-index: 1200;

}
.lightbulbdiv {
    width: 120px;
    height: 528px;
    z-index: 14;
   
}
.lightbulb {
    opacity: 0;
    position: absolute;
    left: 400px;
    top: 1700px;
    animation: lightbulb 2s infinite linear;
    animation-direction: alternate;
    transition: all 0.3s ease;
}

@keyframes lightbulb {
    from {
        transform: rotateZ(1deg);
    }
    to {
        transform: rotateZ(-20deg);
    }
}

.mary {
    position: absolute;
    top: 1930px;
    left: 389px;
    cursor: pointer;
   
    transition: all 0.6s;

    &:hover {
        filter: brightness(80%);
    }
}
   

.cursormary {
    cursor: url('https://github.com/Evgenia4444/BlaBlaLib/blob/main/images/cursormary.svg');
}

.flasksprite {
    overflow: hidden;
    width: 176px;
    height: 271px;
    background-image: url("../images/flasksprite2.png");
    transition: all 0.3s;

   
}

.flaskspriteimg {
    background-position: -97% 0;
}
/* #clock path:nth-child(1) {
    stroke-dasharray: ;
}


#clock path:nth-child(2) {

}


#clock path:nth-child(3) {

}


#clock path:nth-child(4) {

}


#clock path:nth-child(5) {

}


#clock path:nth-child(6) {

}


#clock path:nth-child(7) {

}


#clock path:nth-child(8) {

} */















.radiy {
    position: absolute;
    background: white;
    color: #1D1D1D;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 2rem 2rem;
    align-items: center;
    right: 580px;
    top: 2450px;
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.3s;

    img {
        align-self: flex-end;
        cursor: pointer;
        padding: 0.5rem;
        
    }

    &_text {
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 0.6rem;
    }

    p {
        font-size: 120px;
        font-weight: 600;
        margin-top: 0.5rem;
    }
}


